// ==============================================================
// Local variables.
// ==============================================================

$font-family-primary: system-ui,-apple-system,sans-serif;

// ---------------------
// Links.
// ---------------------

$link-text-decoration: none;
$link-border-bottom: solid 0.5px;
$link-border-bottom-hover: solid 1px;

// ---------------------
// Flextable.
// ---------------------

$flextable-row-border-bottom: none;
$flextable-col-flex: 1;

