<span class="sitehdr-branding">
    <a class="" href="/" title="Go to the {{ site.title }} home page.">
        {%- if site.headerLogo -%}
            {% img site.headerLogo.url, alt=site.headerLogo.alt, width="100px" %}
        {%- endif -%}
    </a>
</span>